# -----------------------------------------------------------------------------
# IT-Tools Docker Environment Configuration
# -----------------------------------------------------------------------------

# Port on the host machine to bind the IT-Tools web interface
FORWARD_APP_PORT=8080

# IT-Tools Container Image Tag (defaults to latest)
IT_TOOLS_IMAGE_TAG=latest
